.navBar {
    /* background-image:linear-gradient(to right,crimson,purple,green); */
    background-color: black;
    overflow: hidden;
    height: 50px;
}

.navBar a {
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 15px;
    display: block;
    float: left;
}

/* form */
.formmDiv{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
    width:35%;
    height: 350px;
    margin:auto;
    margin-top: 7%;
}
.heading{
    margin-top: 2%;
}
.inputt{
    width:100%;
    height:40px;
    border-radius: 4px;
    font-size: 20px;
    margin-top: 2%;

}
.labell{
width:100%;
height:20px;
text-align: left;
margin-top:1% ;
}
label{
    font-weight: 600;
    font-size: 18px;
}
.submitForm{
    width:100%;
    height:40px;
    border-radius: 4px;
    font-size: 15px;
    margin-top: 9%;
    color:white;
    background-color: #4267B2;
    border: none;
}
.submitForm:hover{
    background-color:crimson;
    color:white;
    cursor: pointer;
}



/* nav bar finished */
.parentDiv {
    width: 100%;
    margin-top: 2%;
    height: 500px;
    border: none;
    display: flex;
}


.apiDiv {
    display: grid;
    width: 68%;
    height: 100%;
    border: none;
    margin-left: 3%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;
}

.apiDiv>div {
    border: 1px solid green;

}

.polldiv {
    width: 25%;
    height: 100%;
    border: 1px solid yellow;
}

.resultParentDiv {
    width: 100%;
    height: 500px;
    border: 1px solid green;
    margin-top: 5%;
    display: flex;
}

.editPollPage {
    width: 30%;
    height: 100%;
    border: 1px solid yellow;
}

.polledResults {
    width: 68%;
    height: 100%;
    border: 1px solid red;
    margin-left: 3%;
}

/* navbar responsivness */
@media only screen and(min-width:378px)and(max-width:768px) {
    .navBar {
        /* background-image:linear-gradient(to right,crimson,purple,green); */
        background-color: black;
        overflow: hidden;
        height: 50px;
        width: 100%;
    }

    .navBar a {
        padding: 14px 16px;
        text-decoration: none;
        text-align: center;
        color: white;
        font-size: 15px;
        display: block;
        float: left;
    }

}

@media only screen and(min-width:0px)and(max-width:375px) {
    .navBar {
        /* background-image:linear-gradient(to right,crimson,purple,green); */
        background-color: black;
        overflow: hidden;
        height: 50px;

    }

    .navBar a {
        padding: 14px 16px;
        text-decoration: none;
        text-align: center;
        color: white;
        font-size: 15px;
        /* display: block; */
        float: left;
    }
}